<h1>Edit a Book</h1>
<% @book.errors.full_messages.each do |message|%>
  <%= message %>
<% end %>

  <section>
    <%= form_with model: @book, method: :patch, local:true do |f| %>
      <div class="edit-form-title">
        <h4>Title</h4>
          <%= f.text_field :title %>
      </div>
      <div class="edit-form-body">
        <h4>Body</h4>
          <%= f.text_area :body %>
          <%= f.submit 'Edit a Book' %>
      </div>
    <% end %>
  </section>

    


  <%= link_to "Show", book_path(@book) %>
  <%= link_to "Back", books_path %>